body {
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    color: white;
  
}

* {
    margin: 0;
    padding: 0;
}

#element {
    display: inline-block;
}

.clr {
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(111, 110, 110, 0.8);

}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;

    background-color: rgb(34, 34, 34);

    padding: 15px;

    color: white;
    border-radius: 10px;
    margin: 5px;
    

}

.navbar.fixed {
       display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 96.7%;
    background-color: rgb(34, 34, 34);
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); */
}

/* Hamburger button styling */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.hamburger div {
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    margin: 5px;
    transition: all 0.3s ease;
}


.grey {
    color: #d2d1d1;
}

.nav-item a {
    text-decoration: none;
    color: rgb(199, 197, 197);
    transition: color 0.3s ease;
    display: inline-block;
    transition: transform 0.2s ease-in-out, text-shadow 0.3s ease;
}

.nav-item a:hover {
    color: #ffffff;

    transform: scale(1.1);
    text-shadow: 2px 2px 5px #424242;
}

.logo-container {
    position: relative;
    display: flex;
    align-items: center;
   
    
    transition: opacity 0.3s ease-in-out;
}

.navbar.fixed .logo-container {
    display: none;
}

.navbar.fixed .hamburger {
    display: flex;
}

.logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
}




.dropdown {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    color: black;
    padding: 10px;
    width: 200px;

    background: #1a1a1a;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.dropdown-section {
    padding: 10px;
    background: #222;
    margin: 5px 0;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}


.dropdown-section:hover {
    background: #333;
    transform: scale(1.05);
    cursor: pointer;
}

.dropdown-section h4 {
    font-size: 14px;
    font-weight: bold;

    margin: 0 0 5px;
    color: #f0a500;
}

.navbar ul {
    display: flex;
    justify-content: center;
}

.navbar ul li {
    list-style: none;
    margin: 0 23px;
    cursor: pointer;
}

.logo-name {
    font-size: 1.7rem;

}

.section {
    background-color: rgb(34, 34, 34);
    border-radius: 10px;

    margin: 5px;
}

.first {
    display: flex;
    justify-content: space-around;
    height: 85vh;


}

.first>div {
    width: 30%;
}

.leftsection {
    font-size: 2.5rem;
    margin: 40px 0;
    gap: 90px;
}


.image {
    margin: 20px;
}




.second {




    color: #fff;

    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.second.show {
    opacity: 1;
    transform: translateY(0);
}



.intro {
    font-style: italic;
    font-size: 1.3em;
    color: #ffcc00;
}

.highlight {
    font-size: 1.2em;
    font-weight: bold;
    color: #edc3c3;
    transition: text-shadow 0.3s ease-in-out;
}

.highlight:hover {
    text-shadow: 0px 0px 8px rgba(255, 87, 51, 0.8);
}

hr {
    width: 80%;
    margin: 15px auto;
    border: none;
    height: 2px;
    background: rgb(247, 245, 245);
    box-shadow: 0px 4px 10px rgba(88, 87, 87, 0.5);
}

.about-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-content .col1{
    flex-basis: 35%;
}
.about-content .col2{
    flex-basis: 60%;
}

.about-content .col2 h1{
    margin-top: 20px;
font-size: 50px;
font-weight: 500;
}

.tabtitles{
display: flex;
margin: 20px 0 40px;
}

.tabtitles .tab{
  cursor: pointer;
  margin-right: 50px;
  font-weight: 500;
  font-size: 18px;
position: relative;
    }


    .tab::after{
      content: '';
      width: 0;
      height: 3px;
      background: rgba(88, 87, 87, 0.5) ;
      position: absolute;
      left: 0;
      bottom: -8px;
      transition: 0.5s;
          }

          .tab.activetab::after{
            width: 50%;

          }

.tab-content ul li{
list-style: none;
margin: 10px 0;
}
.tab-content ul li span{
    color: #929090;
    font-size: 14px;
}
.tab-content{
    display: none;
}

.active-content{
    display: block;
}





